<div class="content" role="main">
    <!-- Resources -->
    <h2>Instrucciones</h2>
    <mat-list role="list">
        <mat-list-item role="listitem">Abrir el archivo "A2ExamenIngreso_ANGULAR_API.docx" que se encuentra en la carpeta ExamenAngularAPI del repositorio</mat-list-item>
        <mat-list-item role="listitem">Vincule el componente creado al boton que se visualiza a continuación.</mat-list-item>
    </mat-list>

    <button type="button" class="btn btn-primary">Abrir componente</button>

    <!-- Footer -->
    <footer>
        <div class="row">
            <a href="https://alcuadrado.net/" target="_blank" rel="noopener">
                <h4>Alcuadrado</h4>
            </a>
        </div>
    </footer>

</div>